
<div class="absolute width height">

	<div class="fixed width height-600">

		<div class="absolute width80 height80 hcenter bottom-50">


			<div class="relative width height50">
				<div class="relative width text-right margin-bottom-40 font-25">
					just another site about
				</div>
				<div class="relative width text-right font-50">
					evolutionary algorithms
				</div>
				<div class="relative width text-right font-25">
					and
				</div>
				<div class="relative width text-right font-50">
					machine learning
				</div>
			</div>


			<div class="relative width height50">
				<div class="absolute width text-right bottom-30 font-15">
					by
				</div>
				<div class="absolute width text-right bottom0 font-25">
					methods with class
				</div>
			</div>

			

		</div>

	</div>



	<div class="relative width height-1000 black-back top-400">

		<div class="absolute width80 height80 center white-back">

			<div class="absolute width80 height80 center">

				
				<!-- <div class="relative width60 hcenter margin-v-50">
					<content data="main.overview.content"/>
				</div> -->


				<div class="relative width80 hcenter margin-v-50">

					<div class="relative width height-100 font-30">
						<div class="absolute center">
							Applications for Genetic Algorithms
						</div>
					</div>

					<div class="flex flex-row flex-wrap flex-justify-center width">


						<div class="width50 height-200">
							<div class="relative width80 height60 center black-back white rounded5 shadow font-20 pointer" (click)="go('feedback')">
								<div class="absolute center text-center">
									feedback
								</div>
							</div>
						</div>

						<!-- ng-style="getActive('trash') ? {display:'flex'} : {display:'none'}" -->

						<div class="width50 height-200" >
							<div class="relative width80 height60 center black-back white rounded5 shadow font-20 pointer" (click)="go('trash')">
								<div class="absolute center text-center">
									trash pickup
								</div>
							</div>
						</div>


						<!-- <div class="width50 height-200" ng-style="getActive('recognize') ? {display:'flex'} : {display:'none'}">
							<div class="relative width80 height60 center black-back white rounded5 shadow font-20 pointer" (click)="go('recognize')">
								<div class="absolute center text-center">
									recognize
								</div>
							</div>
						</div> -->

					</div>

				</div>



				<!-- <div class="relative width-400 height-200 hcenter" (click)="go('feedback')">

					<div class="absolute width80 height80 center black-back rounded20 white font-30 pointer">

						<div class="absolute center">
							Feedback
						</div>
					</div>

				</div>



				<div class="relative width-400 height-200 hcenter" (click)="go('trash')">

					<div class="absolute width80 height80 center rounded20 black-back white font-30 pointer">
						<div class="absolute center">
							Trash
						</div>
					</div>
				</div> -->

			</div>

		</div>

	</div>



</div>
