




<div class="{{position}} width opacity0 none" id="{{name + 'eftoggle'}}">

	<div class="relative width padding-v-50 gray-back border-white raised rounded20 white">

		<div class="relative width80 hcenter">

			<div class="relative width height-50 font-50 margin-bottom-50" id="{{name + 'efevolvingtoggle'}}">
				<div class="flex flex-row flex-align-end">
					<div class="width-200 height-50 margin-right-50" id="{{name + 'efmessagetoggle'}}">
						<div class="relative vcenter">
							evolving
						</div>
					</div>
					<div class="width-50 height-40 white font-30" id="{{name + 'efspinnertoggle'}}">
						<div class="relative vcenter text-center">
							<i class="fas fa-spinner" id="{{name + 'efspintoggle'}}"></i>
						</div>
					</div>
				</div>
			</div>


			<div class="relative width height-10 border-white" id="{{name + 'efprogresstoggle'}}">
				<div class="absolute height white-back" id="{{name + 'efrundatatoggle'}}"></div>
			</div>

			<div class="relative width margin-v-20 font-20" id="{{name + 'efinfotoggle'}}"></div>

		</div>

	</div>

</div>