

<div class="absolute width height">
  	


	<div class="absolute width height z-100">
		<app-evolving></app-evolving>
	</div>
  	
	<div class="absolute width height z-100">
		<app-loading></app-loading>
	</div>

	

  	<div class="absolute width margin-top-20 z-100" id="hudtoggle">
		<app-navbar navName="back" navLoc="home"></app-navbar>
	</div>

	<div class="absolute width60 hcenter">
		<app-evolve-button></app-evolve-button>
	</div>


  	<div class="absolute center font-70">
  		{{getState()}} demo
	</div>


</div>






